@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

*::selection {
  background: #337ab7;
  color: #fff;
}
body {
  padding-bottom: 115px;
  -webkit-transition: padding 0.15s ease-out;
  -moz-transition: padding 0.15s ease-out;
  -o-transition: padding 0.15s ease-out;
  transition: padding 0.15s ease-out;
  font-size: 16px;
}
.container {
  max-width: 800px;
}
section.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
nav.footer {
  padding-top: 16px;
  padding-bottom: 15px;
  background-color: #fff;
  opacity: .98;
}
nav.footer .buttons-left {
  padding-left: 15px;
}
nav.footer .buttons-right {
  padding-right: 15px;
}
nav.footer .btn + .btn {
  margin-right: 5px;
}
nav.footer .progress-toggle {
  cursor: pointer;
  text-decoration: underline;
}
nav.footer .progress-holder {
  height: 18px;
  overflow: hidden;
  -webkit-transition: height 0.15s ease-out;
  -moz-transition: height 0.15s ease-out;
  -o-transition: height 0.15s ease-out;
  transition: height 0.15s ease-out;
}
nav.footer .progress {
  margin-top: 10px;
  height: 8px;
}
nav.footer .progress-text {
  position: relative;
  top: 2px;
  padding-left: 10px;
  font-size: 18px;
  text-align: center;
}
@media (max-width: 767px) {
  nav.footer {
    padding-top: 12px;
    padding-bottom: 11px;
  }
  nav.footer .btn {
    padding: 6px 12px;
    font-size: 14px;
  }
  nav.footer .progress-holder {
    height: 18px !important;
  }
  nav.footer .progress-text {
    font-size: 12px;
    padding-left: 5px;
    top: 1px;
  }
}
/* Functional styling;
 * These styles are required for noUiSlider to function.
 * You don't need to change these rules to apply your design.
 */
.noUi-target,
.noUi-target * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-touch-action: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-target {
  position: relative;
  direction: ltr;
}
.noUi-base {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  /* Fix 401 */
}
.noUi-origin {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
}
.noUi-handle {
  position: relative;
  z-index: 1;
}
.noUi-stacking .noUi-handle {
  /* This class is applied to the lower origin when
   its values is > 50%. */
  z-index: 10;
}
.noUi-state-tap .noUi-origin {
  -webkit-transition: left 0.3s, top 0.3s;
  transition: left 0.3s, top 0.3s;
}
.noUi-state-drag * {
  cursor: inherit !important;
}
/* Painting and performance;
 * Browsers can paint handles in their own layer.
 */
.noUi-base {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* Slider size and handle placement;
 */
.noUi-horizontal {
  height: 18px;
}
.noUi-horizontal .noUi-handle {
  width: 34px;
  height: 28px;
  left: -17px;
  top: -6px;
}
.noUi-vertical {
  width: 18px;
}
.noUi-vertical .noUi-handle {
  width: 28px;
  height: 34px;
  left: -6px;
  top: -17px;
}
/* Styling;
 */
.noUi-background {
  background: #FAFAFA;
  box-shadow: inset 0 1px 1px #f0f0f0;
}
.noUi-connect {
  background: #337ab7;
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45);
  -webkit-transition: background 450ms;
  transition: background 450ms;
}
.noUi-origin {
  border-radius: 2px;
}
.noUi-target {
  border-radius: 4px;
  border: 1px solid #D3D3D3;
  box-shadow: inset 0 1px 1px #F0F0F0, 0 3px 6px -5px #BBB;
}
.noUi-target.noUi-connect {
  box-shadow: inset 0 0 3px rgba(51, 51, 51, 0.45), 0 3px 6px -5px #BBB;
}
/* Handles and cursors;
 */
.noUi-dragable {
  cursor: w-resize;
}
.noUi-vertical .noUi-dragable {
  cursor: n-resize;
}
.noUi-handle {
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  background: #FFF;
  cursor: default;
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #EBEBEB, 0 3px 6px -3px #BBB;
}
.noUi-active {
  box-shadow: inset 0 0 1px #FFF, inset 0 1px 7px #DDD, 0 3px 6px -3px #BBB;
}
/* Handle stripes;
 */
.noUi-handle:before,
.noUi-handle:after {
  content: "";
  display: block;
  position: absolute;
  height: 14px;
  width: 1px;
  background: #E8E7E6;
  left: 14px;
  top: 6px;
}
.noUi-handle:after {
  left: 17px;
}
.noUi-vertical .noUi-handle:before,
.noUi-vertical .noUi-handle:after {
  width: 14px;
  height: 1px;
  left: 6px;
  top: 14px;
}
.noUi-vertical .noUi-handle:after {
  top: 17px;
}
/* Disabled state;
 */
[disabled].noUi-connect,
[disabled] .noUi-connect {
  background: #B8B8B8;
}
[disabled].noUi-origin,
[disabled] .noUi-handle {
  cursor: not-allowed;
}
/* Base;
 *
 */
.noUi-pips,
.noUi-pips * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.noUi-pips {
  position: absolute;
  font: 400 12px Arial;
  color: #999;
}
/* Values;
 *
 */
.noUi-value {
  width: 40px;
  position: absolute;
  text-align: center;
}
.noUi-value-sub {
  color: #ccc;
  font-size: 10px;
}
/* Markings;
 *
 */
.noUi-marker {
  position: absolute;
  background: #CCC;
}
.noUi-marker-sub {
  background: #AAA;
}
.noUi-marker-large {
  background: #AAA;
}
/* Horizontal layout;
 *
 */
.noUi-pips-horizontal {
  padding: 10px 0;
  height: 50px;
  top: 100%;
  left: 0;
  width: 100%;
}
.noUi-value-horizontal {
  margin-left: -20px;
  padding-top: 20px;
}
.noUi-value-horizontal.noUi-value-sub {
  padding-top: 15px;
}
.noUi-marker-horizontal.noUi-marker {
  margin-left: -1px;
  width: 2px;
  height: 5px;
}
.noUi-marker-horizontal.noUi-marker-sub {
  height: 10px;
}
.noUi-marker-horizontal.noUi-marker-large {
  height: 15px;
}
/* Vertical layout;
 *
 */
.noUi-pips-vertical {
  padding: 0 10px;
  height: 100%;
  top: 0;
  left: 100%;
}
.noUi-value-vertical {
  width: 15px;
  margin-left: 20px;
  margin-top: -5px;
}
.noUi-marker-vertical.noUi-marker {
  width: 5px;
  height: 2px;
  margin-top: -1px;
}
.noUi-marker-vertical.noUi-marker-sub {
  width: 10px;
}
.noUi-marker-vertical.noUi-marker-large {
  width: 15px;
}
ul.thumbnails.image_picker_selector {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.thumbnails.image_picker_selector ul {
  overflow: auto;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
ul.thumbnails.image_picker_selector li.group_title {
  float: none;
}
ul.thumbnails.image_picker_selector li {
  margin: 0px 12px 12px 0px;
  float: left;
  cursor: pointer;
}
ul.thumbnails.image_picker_selector li .thumbnail {
  max-width: 180px;
  padding: 6px;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-transition: background 0.3s ease-out;
  -moz-transition: background 0.3s ease-out;
  -o-transition: background 0.3s ease-out;
  transition: background 0.3s ease-out;
}
ul.thumbnails.image_picker_selector li .thumbnail img {
  -webkit-user-drag: none;
}
ul.thumbnails.image_picker_selector li .thumbnail.selected {
  background: #337ab7;
}
.control-label {
  font-weight: normal;
}
.form-required {
  font-weight: bold;
  font-size: 24px;
  color: #ff0000;
  line-height: 0.7em;
  margin-left: 5px;
}
i.form-hint {
  color: #ff4d16;
  margin-left: 5px;
}
.popover {
  color: #333;
}
.form-group {
  padding-top: 8px;
}
.form-group .control-label {
  font-size: 16px;
  text-align: left;
  padding-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}
.help-block {
  position: relative;
  top: -1px;
  font-size: 14px;
  margin-top: 0px;
}
.form-slider {
  height: 85px;
}
input.form-slider-number {
  text-align: center;
}
.table {
  border-bottom: 1px solid #ddd;
}
.table .radio,
.table .checkbox {
  padding-top: 2px;
}
table.table-options {
  margin-bottom: 4px;
}
.form-matrix thead th {
  text-align: center;
  font-weight: normal;
}
.form-matrix thead th.form-matrix-answer {
  width: 80px;
}
.form-matrix tbody td {
  text-align: center;
}
.form-matrix tbody td.form-matrix-title {
  color: #337ab7;
  font-weight: bold;
  text-align: left;
}
@media (min-width: 768px) {
  .form-group-compact .control-label {
    padding-top: 13px;
  }
  .form-group-compact .form-options {
    padding-top: 2px;
  }
}
@media (max-width: 767px) {
  .form-slider {
    width: 98%;
    padding-left: 4px;
  }
  .form-matrix td {
    text-align: left !important;
    display: block;
  }
  .form-matrix td.form-matrix-title {
    padding-top: 24px;
    padding-bottom: 15px;
    background-color: #fff;
  }
  .form-matrix tbody tr {
    background-color: transparent !important;
  }
  .form-matrix tbody td:nth-of-type(even) {
    background-color: #f9f9f9;
  }
  .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
  }
}
